
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Poppins';
}

.container {
    width: 400px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-weight: 700;
    font-size: 36px;
}

.price-box {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}

.slider-box{
    position: relative;
    height: 20px; 
    margin-bottom: 20px;
}

.slider-fill {
    height: 6px;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    z-index: 1;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    left: 0;
    background: transparent; 
    pointer-events: none; 
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    pointer-events: auto;
}

input[type="range"]::-webkit-slider-runnable-track{
    height: 5px;
    background: #aaaaaa;
    border-radius: 3px;
}

.price-input-box {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.box input{
    padding: 10px;
    width: 100px;
}